body{
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    background: rgb(0,155,255);
background: linear-gradient(90deg, rgba(0,155,255,1) 6%, rgba(51,224,226,1) 32%, rgba(48,178,79,1) 67%, rgba(48,173,62,1) 100%); */

display: flex;
flex-direction: row;
align-items: center;
background: linear-gradient(
90deg
, rgb(0, 155, 255) 6%, rgb(51, 224, 226) 32%, rgb(48, 178, 79) 67%, rgb(48, 173, 62) 100%);
justify-content: center
}
.info{
    width: 50%;
    height: 40rem;
    margin-top: 5rem;
margin-left: 5rem;
    background-color: rgb(122 217 204);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container{
    width: 50%;
    height: 40rem;
    margin-top: 5rem;
    margin-right: 5rem;
    background-color: rgb(39 239 101);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

